.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container img {
    border-radius: 12px;
   border: 1px solid black;
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.card-container p {
   font-family: monospace;
   font-size: xx-large;
}

.card-container p:last-of-type {
    font-family: monospace;
    font-size: medium;
    font-style: oblique;
 }
 


.card-container span {
    font-family: monospace;
    font-size: xx-large;
 }

 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container input{
    all: unset;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 16px 0;
}

.container button {
    all: unset;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 16px 0;
    background-color: lightgrey;
    cursor:pointer;
    font-family: monospace;
}

