/* You can add global styles to this file, and also import other style files */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlight {
    color: rgb(73, 73, 94);
    transform: scale(1.25);
    transition: 0.3s;
  }
  